<div class="modal fade bd-example-modal-md show" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: block; padding-right: 15px;">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'form', appointment: @appointment %>
      </div>
    </div>
  </div>
</div>
