<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h2><%= @appointment.patient.full_name %></h2>
      </div>
    </div>
  </div>
</section>

<section class="content">

  <div class="card">
    <div class="card-header">
      <h2 class="card-title"><%= @appointment.appointment_type %>: <%=l @appointment.appointment_date, format: :default %></h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted">Idade na consulta</span>
                  <span class="info-box-number text-center text-muted mb-0"><%= @appointment.age_on_appointment %> anos</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted">Peso atual</span>
                  <span class="info-box-number text-center text-muted mb-0">xx</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted">Altura atual</span>
                  <span class="info-box-number text-center text-muted mb-0">cm<span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>Resumo da Consulta?</h4>
            </div>
            <p>Aqui poderia ter gráfico da evolução</p>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
          <div class="text-center">
            <button type="button" class="btn btn-block bg-gradient-success">Anamnese</button>
            <button type="button" class="btn btn-block bg-gradient-info">Info</button>
            <button type="button" class="btn btn-block bg-gradient-info">Info</button>
            <button type="button" class="btn btn-block bg-gradient-info">Info</button>
            <button type="button" class="btn btn-block bg-gradient-info">Info</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
<!-- /.content -->
