$nutri-purple: #6600A1;
$nutri-darker-purple: #350052;
$white: #FFFFFF;
$light-grey: #F8F8F8;

[class*='sidebar-dark-'] {
    background-color: $light-grey;
    .sidebar a {
        color: $nutri-purple
    }
    .sidebar a:hover {
        color: $nutri-darker-purple
    }

    .sidebar a:not([href]):hover {
        color: $nutri-darker-purple
    }
    .user-panel {
        border-bottom: 1px solid $nutri-purple;
    }
    .brand-link {
        border-bottom: 1px solid $nutri-purple;
        color: rgba(255, 255, 255, 0.8);
        background-color: $nutri-purple;
    }
    .nav-pills .nav-link:not(.active):hover {
        color: $nutri-darker-purple
    }
}

.bg-success {
    background-color: $nutri-purple !important;
}

.card-primary.card-outline {
    border-top: 3px solid $nutri-purple;
}

input.input-group-text.purple.lighten-3 {
    background-color: $nutri-purple;
    color: $white;
    border-radius: 10px;
}

// LINK
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
// /LINK

// PRIMARY BTN
.btn-primary {
  color: $white;
  background-color: $nutri-purple;
  border-color: $nutri-purple;
}

.btn-primary:hover {
    color: $white;
    background-color: $nutri-darker-purple;
    border-color: $nutri-darker-purple;
}

.btn-primary:focus, .btn-primary.focus {
  color: $white;
  background-color: $nutri-darker-purple;
  border-color: $nutri-darker-purple;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: $white;
  background-color: $nutri-darker-purple;
  border-color: $nutri-darker-purple;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: $white;
  background-color: $nutri-darker-purple;
  border-color: $nutri-darker-purple;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
// /PRIMARY BTN


// SUCCESS BTN
.btn-success {
  color: $white;
  background-color: $nutri-purple;
  border-color: $nutri-purple;
}

.btn-success:hover {
    color: $white;
    background-color: $nutri-darker-purple;
    border-color: $nutri-darker-purple;
}

.btn-success:focus, .btn-success.focus {
  color: $white;
  background-color: $nutri-darker-purple;
  border-color: $nutri-darker-purple;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  color: $white;
  background-color: $nutri-darker-purple;
  border-color: $nutri-darker-purple;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: $white;
  background-color: $nutri-darker-purple;
  border-color: $nutri-darker-purple;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
// /SUCCESS BTN




.btn-warning {
    background-color: transparent;
    border-color: $nutri-purple;
}

.page-item.active .page-link {
    z-index: 3;
    color: $white;
    background-color: $nutri-purple;
    border-color: $white;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: black;
    background-color: $white;
    border: 1px solid #dee2e6;
}

.profile-user-img {
    border: 3px solid $nutri-purple;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
}
