$nutri-purple: #6600A1;
$white: #FFFFFF;

[class*='sidebar-dark-'] {
    background-color: $nutri-purple;
    .sidebar a {
        color: $white
    }
    .user-panel {
        border-bottom: 1px solid $white;
    }
    .brand-link {
        border-bottom: 1px solid $white;
        color: rgba(255, 255, 255, 0.8);
    }
}

.card-primary.card-outline {
    border-top: 3px solid $nutri-purple;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: $white;
    background-color: $nutri-purple;
}

input.input-group-text.purple.lighten-3 {
    background-color: $nutri-purple;
    color: $white;
    border-radius: 10px;
}

.btn-primary {
    background-color: $nutri-purple;
    border-color: $nutri-purple;
}
