<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
  <div class="row mb-2">
      <div class="col-sm-6">
      <h1>Pacientes</h1>
      </div>
      <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Widgets</li>
      </ol>
      </div>
  </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
  <h3 class="mt-4 mb-4">Social Widgets</h3>

  <div class="row">
  <% @pacients.each do |pacient| %>
      <div class="col-md-4">
      <!-- Widget: user widget style 2 -->
      
        <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-success">
            <div class="widget-user-image">
              <%= image_tag('user7-128x128.jpg', alt:"User Avatar",
            class:"img-circle elevation-2",
            style:"opacity: .8") %>
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username"><%= pacient.first_name %> <%= pacient.last_name %></h3>
            <h5 class="widget-user-desc">Info aqui</h5>
            </div>
            <div class="card-footer p-0">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a href="#" class="nav-link">
                   Perfil <span class="float-right badge bg-primary"><i class="fas fa-arrow-circle-right"></i></span>
                </a>
                </li>
            </ul>
            </div>
        </div>
      
      <!-- /.widget-user -->
      <!-- /.col -->
    </div>
    <% end %>
  </div>
  <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
  <i class="fas fa-chevron-up"></i>
</a>